@import 'reset';
@import 'grid';
@import 'animate';

/*
===================
VARIABLES
===================
*/

$color-text: #ffffff;
$color-background: #333333;

/*
===================
PAGE SETTINGS
===================
*/

body {
  color: $color-text;
}
section {
  background: $color-background;
}

.left {
    position: fixed;
    left: 0;
    height: 100%;
}
.right {
  right: 0;
  position: absolute;
  height: 100%;
}
.row-2 {
  height: 50%;
  width: 100%;
}
.row-3 {
  height: 33.33%;
  width: 100%;
}
.row-4 {
  height: 25%;
  width: 100%;
}
.image {
  background: transparent no-repeat;
  background-size: cover;
  background-position: center center;
}
.profile-image {
  background-image: url(../images/eric.png);
}
