@import 'reset';
@import 'grid';
@import 'animate';

/*
===================
VARIABLES
===================
*/

$color-text: #ffffff;
$color-background: #333333;

/*
===================
PAGE SETTINGS
===================
*/
// body {
// // }
// .site-wrapper {
//   position: static;
//   height: 100%;
//   width: 100%;
// }
nav {
  padding: 20px 0;
  top: 20px;
}
nav ul {
  text-align: center;
}
nav li {
  display: inline-block;
}
.target {
  background: url('../images/lizard.jpg') no-repeat;
  background-size: cover;
    width: 800px;
    height: 533px;
}

.panel {
    position: absolute;
    z-index: 9000;
    box-sizing: border-box;
}

.target .panel-1 {
    font-size: 2em;
    color: #000;
    top: 30px;
    left: 30px;
    width: 392px;
    height: 108px;
    padding: 0.5em;
}